/config/database.yml
/config/email.yml
/config/environments/easy.rb
/config/configuration.yml
/config/initializers/secret_token.rb
/config/initializers/22-change_plugins_order.rb
/db/schema.rb
/log/*
!/log/.gitkeep
/files/*
!/files/.gitkeep
/public/plugin_assets/*
/nbproject/*
/nbproject/project.properties
/nbproject/project.xml
/sql/*
/tmp/*
!/tmp/cache/.gitkeep
!/tmp/pdf/.gitkeep
!/tmp/pids/.gitkeep
!/tmp/sessions/.gitkeep
!/tmp/sockets/.gitkeep
!/tmp/test/.gitkeep
!/tmp/thumbnails/.gitkeep
/vendor/*
/.bundle
/Gemfile.lock
/Gemfile.local
/.rbx
*.DS_Store
.rvmrc
.project
*~
config/newrelic.yml
